body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b1d0e0; /* Fondo claro */
}

.content {
    padding: 20px;
    min-height: 89vh; /* Para mantener la estructura */
}

.voucher-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

    .voucher-input input {
        padding: 10px;
        font-size: 18px;
        border: 2px solid #6998ab; /* Color intermedio */
        border-radius: 5px;
    }

    .voucher-input button {
        background-color: #406882; /* Color de botón */
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 10px;
    }

        .voucher-input button:hover {
            background-color: #1a374d; /* Color más oscuro al pasar el mouse */
        }